<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link href="normal.css" rel="stylesheet" type="text/css" media="screen">
<link href="movil.css" rel="stylesheet" type="text/css" media="(max-device-width:450px)">

</head>

<body id="body">
	<header>
        <h1>Página de Pablo Martinez-Almeida</h1>
    </header>

    <div id="body">
    	<p> <em>Este soy yo, el autor de esta página</em></p>
        <p><img src="http://almeida95.neocities.org/fotoportada.JPG" width="500" heigth="500" alt="Pablo Martinez-Almeida"/> 
        <p><iframe width="500" height="500" src="https://www.youtube.com/embed/9YsQKwvLMTY?list=PLX6tPpsxIxjgcc5InUuHgtSdh43B_n9m1?autoplay=0&autohide=0&autoplay=0" frameborder="0" allowfullscreen></iframe></p>
    </div>


</body>
</html>