
		<h2>Quiz: el juego de las preguntas </h2>

		<p>
			La respuesta es <strong><%= answer %></strong> es <%= result%>.
		</p>

		<p>
			<a href="/question?answer=<%=answer %>"> Inténtalo otra vez </a>
		</p>
